body {
  font-family: Orbitron, san-serif;
  background: linear-gradient(#a8b5e0, #daf0f7) fixed;
  background: #006E33;
  width: 100vw;
  height:auto;
  overflow:hidden;
}

.comingSoon {
  width: 50%;
  height: 50%;
  background: #F2827F;
  color: #006E33;
  text-align: center;
  padding: 10vh;
  border-radius: 20px;
  font-size: 10vw;
  margin: 20vh;
}
  
@media screen and (max-width:601px) {
  font-size:10vw;
}
