body {
  font-family: Orbitron, san-serif;
  background: linear-gradient(#a8b5e0, #daf0f7) fixed;
  background: #006E33;
  width: 100vw;
  height:auto;
  overflow:hidden;
}

.comingSoon {
  margin: 20vh 20vw;
  width: 40vw;
  height: 40vh;
  padding: 10vh 10vw;
  background: #F2827F;
  color: #006E33;
  text-align: center;
  border-radius: 20px;
  font-size: 10vw;
}
  
