html { 
    background: url("img/Forest_landscape_generated.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    font-family: Comfortaa;
   }

.container {
    display: flex;
    flex-direction: column;
    margin: 10% 45% 10% 10%;
    padding: 3%;
    background-color: #f0efee;
    border: 0;
    border-radius: 30px;
}


.signuph1 {
    width: 100%;
    margin-bottom: 30px;
}

.signuplist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}

.signupcomplete {
    position: relative;
    top: 4px;
    width: 100%;
    padding-left: 10px;
}

.signuplable {
    display: inline-block;
    width: 20%;
    color: black;
    border: 0;
    margin: 0 20px 0 20px;

}

.signuplistitem {
    border: 1px solid red;
    height: 40px;
    margin-bottom: 30px;
    width: 90%;
    background-color: #b1cebd;
    border-radius: 20px;
    border: 0
}
.signupinput {
    width: 66%;
    background-color: #8dc9ac;
    border-radius: 20px;
    border: 0;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
}

.signupbutton {
    Width: 20%;
    height:50px;
    font-size: 20px;
    color: darkgreen;
    background-color: #8dc9ac;
    border-radius: 20px;
    border: 0;
    position: relative;
    }

.signupbutton:hover {
    background-color: #b1cebd;
    color:rgb(60, 66, 60);
}

    .arrow {
        padding-left: 10px;
    }

    #next {
        position: relative;
        bottom: 5px;
    }

   

    input:invalid {
        border-color: red;
      }