* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Comfortaa", cursive;
  background: url(img/45887.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

table {
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #b47a4a;
  border-radius: 20px;
  overflow: hidden;
}

td {
  border: 0.1px solid #b47a4a;
  width: 2vmin;
  height: 2vmin;
}

#mainHeader {
  margin-top: 5vmin;
  font-size: 7vmin;
  color: white;
}

#container {
  border: 2px solid #b47a4a;
  border-radius: 5vmin;
  width: fit-content;
  margin: 6vmin;
  padding: 3%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

#colorPicker {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  overflow: hidden;
  background-color: #4bd34f;
}

input:not(#colorPicker) {
  width: fit-content;
  border-radius: 1vmin;
  overflow: hidden;
  text-align: center;
  margin: 1vmin;
  padding: 1vmin;
}

input[type="button"] {
  color: white;
  background-color: #2cbcee;
  border-color: #2cbcee;
  width: fit-content;
}

.gridcontainer {
  width: fit-content;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  font-size: 4vmin;
  margin: 1vmin;
}

@media screen and (orientation: portrait) {
  #container {
    width: 80vw;
  }
}
